body {
    background-image: url("../images/redcurtains.png");
}

button {
    font-family: cursive;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.container {
    color: white;
}

#gameName {
    color: #d8a600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 64pt;   
 
}

.panel {
    align-content: center;
    background-color: #262626;
    border: 6px;
    border-color: #bc8700;
    border-style: groove;
    margin: 5%;
    text-align: center;
}

.question {
    color: white;
    font-size: 24pt;
}

.questionNumber {
    color: #d8a600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.resultsAre {
    color: #d8a600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.row {
    margin-bottom: 5%;
}

.timerBox {
    border-style: groove;
}

#timerText {
    color: #bc8700;
    font-family: cursive;
    padding-top: 10px;
}

#quiz {
    color: white;
}

